<?xml version="1.0"?>
<robot name="Human_model">
   <link name="Pelvis">
      <visual>
         <origin xyz="0 0 0" rpy="0 0 0"/>
         <geometry>
            <!--<mesh filename="package://room_description/meshes/Pelvis.stl"/>-->
            <box size="0.01 0.01 0.01"/>
         </geometry>
      </visual>
  </link>        
</robot>
