<launch>
  <param name="robot_description" command="cat $(find hrp2_14_description)/urdf/hrp2_14_capsule.urdf"/>
  <param name="wall_description" command="cat $(find room_description)/urdf/walls.urdf"/>
  <param name="room_description" command="cat $(find room_description)/urdf/room.urdf"/>
    
    
  <node name="room_base_link_broadcaster"
    pkg="tf" type="static_transform_publisher"  
    args="0 0 0 0 0 0 /map /room_base 200"/>  

  <node name="wall_link_broadcaster"
        pkg="tf" type="static_transform_publisher"  
        args="0 0 0 0 0 0 /map /wall_base 200"/>
  <node name="wall_one_broadcaster"
        pkg="tf" type="static_transform_publisher"  
        args="0 0 0 0 0 0 /wall_base /l_wall_one 200"/>
  <node name="wall_two_broadcaster"
        pkg="tf" type="static_transform_publisher"  
        args="0 0 0 0 0 0 /wall_base /l_wall_two 200"/>
  <node name="wall_three_broadcaster"
        pkg="tf" type="static_transform_publisher"  
        args="0 0 0 0 0 0 /wall_base /l_wall_three 200"/> 
  <node name="wall_four_broadcaster"
        pkg="tf" type="static_transform_publisher"  
        args="0 0 0 0 0 0 /wall_base /l_wall_four 200"/> 
  
  <node name="odom_link_broadcaster"
    pkg="tf" type="static_transform_publisher"  
    args="0 0 0 0 0 0 /map /odom 200"/>
    
  <node name="robot_state_publisher"
	pkg="robot_state_publisher"
	type="state_publisher"
	respawn="true">
    <param name="tf_prefix" value="" />
  </node>
  
  <node name="rviz"
	pkg="rviz"
	type="rviz"
	respawn="false">
  </node>
</launch>
